<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Condominio</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../static/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arapey">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.min.css" th:href="@{/css/styles.min.css}">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
    <div class="container"><a class="navbar-brand" th:href="@{/index.html}">Condominio</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/cadastro}"
                                                            style="color: #ffffff;">CADASTRE-SE</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/login}"
                                                            style="color: #ffffff;">LOGIN</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" data-aos="fade-left" style="width: 322px;margin-top: 174px;">
    <form th:action="@{/principalFuncionario}" method="get">
        <input type="number" placeholder="CPF" style="width: 292px;" class="form-control">
        <input type="password" placeholder="Senha"
               style="width: 292px;margin-left: 0px;margin-top: 14px;filter: saturate(0%);" class="form-control">
        <select style="margin-top: 14px;width: 292px;" class="form-control">
            <option value="">Porteiro</option>
            <option value="">Sindico</option>
            <option value="">Morador</option>
        </select>
        <button
                class="btn btn-info" type="submit"
                style="width: 292px;margin-bottom: 6px;background-color: #4988e8;margin-top: 14px;">FAZER LOGIN
        </button>
    </form>
</div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="../static/js/script.min.js" th:src="@{/js/script.min.js}"></script>
</body>

</html>